In [17]:
# library imports
import pandas as pd

In [22]:
# read the data
data = pd.read_csv('assets/Assignment Data Analyst MSIB Batch 7.csv')

# check the data types
data.info()

# check the first 5 rows
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156 entries, 0 to 155
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ga:sourceMedium         156 non-null    object
 1   ga:pageTitle            156 non-null    object
 2   ga:users                155 non-null    float64
 3   ga:bounceRate           155 non-null    float64
 4   ga:pageviews            155 non-null    float64
 5   ga:pageviewsPerSession  155 non-null    float64
 6   ga:avgTimeOnPage        155 non-null    float64
dtypes: float64(5), object(2)
memory usage: 8.7+ KB

,ga:sourceMedium,ga:pageTitle,ga:users,ga:bounceRate,ga:pageviews,ga:pageviewsPerSession,ga:avgTimeOnPage
0,facebook / cpc,"Bikin Lambe Turah Diomelin, Nih Si Seksi yang ...",13736.0,19.269967,83593.0,6.042140,21.790189
1,facebook / cpc,Heboh! Kiki Farel Transfer Uang Jajan Rp 1 Jut...,15909.0,62.303763,74032.0,4.612011,16.330553
2,facebook / cpc,"Tak Sesuai Harapan, Barang Belanja Online Ini ...",7748.0,30.934520,54657.0,6.949396,21.429338
3,facebook / cpc,"Antar 'Tuyul', 7 Pengemudi Grab Dibekuk",43893.0,6.966219,47924.0,1.106560,5.056397
4,facebook / cpc,Melihat Kantor Pelayanan Grab Driver Center,41155.0,11.630219,44072.0,43.809145,180.944233

In [24]:
# renaming columns
data.columns = ['sourceMedium', 'pageTitle', 'users', 'bounceRate', 'pageviews', 'pageviewsPerSession', 'avgTimeOnPage']

# removing rows with missing values
df_cleaned = data.dropna()

# save the rows before and after cleaning
initial_row_count = data.shape[0]
final_row_count = df_cleaned.shape[0]

# count the rows that are deleted
rows_deleted = initial_row_count - final_row_count

# print the results
print(f"\nJumlah baris awal: {initial_row_count}")
print(f"Jumlah baris setelah pembersihan: {final_row_count}")
print(f"Jumlah baris yang dihapus: {rows_deleted}")

Jumlah baris awal: 156
Jumlah baris setelah pembersihan: 155
Jumlah baris yang dihapus: 1

In [29]:
# check for duplicates
duplicates = df_cleaned[df_cleaned.duplicated()]

# print the results
print(f"Jumlah baris duplikat: {duplicates.shape[0]}")

Jumlah baris duplikat: 0